/* General Styles */
body {
  background-color: #F86161;
  font-family: 'VT323', monospace;
}

h1 {
  text-align: center;
  font-size: 50px;
}

/* Grid styles */
table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  font-family: 'Permanent Marker', cursive;
  border: 5px solid black;
  width: 150px;
  height: 150px;
}

td:hover {
  cursor: pointer;
}

td.disabled:hover {
  cursor: not-allowed;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}
